.engagement-main-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.engagement-quote-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.engagement-quote-container>p{
    width: 90%;
    text-align: center;
}

.engagement-quote-container>h1{
    margin-top: 5%;
    margin-bottom: 3%;
}



.engagement-line-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.engagement-line-container>p{
 margin-left: 25px;
 margin-right: 25px;
 font-size: 1.8rem;
}

.engagement-line{
    width: 23%;
    height: 2px;
    padding: 0px 5px;
    background-color: black;
}