.wedding-main-container {
  width: 100%;
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.wedding-carousel-display-container {
  width: 50%;
  height: 100%;

  display: flex;
  justify-content: center;
}

.wedding-display-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  justify-content: center;
}
